In [119]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt

In [120]:
titanic_train = pd.read_csv("train.csv")

In [121]:
titanic_test = pd.read_csv("test.csv")

In [122]:
titanic_test1 = pd.read_csv("test.csv")

In [123]:
df1 = titanic_train.drop("Survived", axis = 1)

In [124]:
y = titanic_train.Survived

In [125]:
df = pd.concat([df1,titanic_test],axis = 0)

In [126]:
df

,PassengerId,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
0,1,3,"Braund, Mr. Owen Harris",male,22.0,1,0,A/5 21171,7.2500,NaN,S
1,2,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",female,38.0,1,0,PC 17599,71.2833,C85,C
2,3,3,"Heikkinen, Miss. Laina",female,26.0,0,0,STON/O2. 3101282,7.9250,NaN,S
3,4,1,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",female,35.0,1,0,113803,53.1000,C123,S
4,5,3,"Allen, Mr. William Henry",male,35.0,0,0,373450,8.0500,NaN,S
...,...,...,...,...,...,...,...,...,...,...,...
413,1305,3,"Spector, Mr. Woolf",male,NaN,0,0,A.5. 3236,8.0500,NaN,S
414,1306,1,"Oliva y Ocana, Dona. Fermina",female,39.0,0,0,PC 17758,108.9000,C105,C
415,1307,3,"Saether, Mr. Simon Sivertsen",male,38.5,0,0,SOTON/O.Q. 3101262,7.2500,NaN,S
416,1308,3,"Ware, Mr. Frederick",male,NaN,0,0,359309,8.0500,NaN,S
417,1309,3,"Peter, Master. Michael J",male,NaN,1,1,2668,22.3583,NaN,C

In [127]:
df.Age = df.Age.fillna(df.Age.mean())

In [128]:
df.Age.value_counts()

29.881138    263
24.000000     47
22.000000     43
21.000000     41
30.000000     40
            ...
76.000000      1
22.500000      1
74.000000      1
80.000000      1
0.670000       1
Name: Age, Length: 99, dtype: int64

In [129]:
df.Fare = df.Fare.fillna(df.Fare.mean())

In [130]:
def encodeAgeFare(train):
    train.loc[df['Age'] <= 16, 'Age'] = 0
    train.loc[(df['Age'] > 16) & (df['Age'] <= 32), 'Age'] = 1
    train.loc[(df['Age'] > 32) & (df['Age'] <= 48), 'Age'] = 2
    train.loc[(df['Age'] > 48) & (df['Age'] <= 64), 'Age'] = 3
    train.loc[ (df['Age'] > 48) & (df['Age'] <= 80), 'Age'] = 4
    
    train.loc[df['Fare'] <= 7.91, 'Fare'] = 0
    train.loc[(df['Fare'] > 7.91) & (df['Fare'] <= 14.454), 'Fare'] = 1
    train.loc[(df['Fare'] > 14.454) & (df['Fare'] <= 31.0), 'Fare'] = 2
    train.loc[(df['Fare'] > 31.0) & (df['Fare'] <= 512.329), 'Fare'] = 3

encodeAgeFare(df)

In [131]:
df.Age

0      1.0
1      2.0
2      1.0
3      2.0
4      2.0
      ...
413    1.0
414    2.0
415    2.0
416    1.0
417    1.0
Name: Age, Length: 1309, dtype: float64

In [132]:
def func(x):
    if x[0]>0 or x[1]>0:
        return True
    else:
        return False
    
#Apply new function to features, and generate with family feature
df['WithFamily']=df[['SibSp','Parch']].apply(func,axis=1)
df['WithFamily']=df[['SibSp','Parch']].apply(func,axis=1)

In [133]:
df = df.drop(['PassengerId','Name','SibSp','Parch'], axis = 1)

In [134]:
df.Embarked=df.Embarked.fillna(df.Embarked.mode()[0])

In [135]:
df.Cabin = df.Cabin.fillna(df.Cabin.mode()[0])

In [136]:
df.Fare.value_counts()

0.0000      337
2.0000      331
3.0000      327
1.0000      310
512.3292      4
Name: Fare, dtype: int64

In [137]:
df = pd.get_dummies(df).reset_index(drop=True)

In [138]:
df.head()

,Pclass,Age,Fare,WithFamily,Sex_female,Sex_male,Ticket_110152,Ticket_110413,Ticket_110465,Ticket_110469,...,Cabin_F G73,Cabin_F2,Cabin_F33,Cabin_F38,Cabin_F4,Cabin_G6,Cabin_T,Embarked_C,Embarked_Q,Embarked_S
0,3,1.0,0.0,True,0,1,0,0,0,0,...,0,0,0,0,0,0,0,0,0,1
1,1,2.0,3.0,True,1,0,0,0,0,0,...,0,0,0,0,0,0,0,1,0,0
2,3,1.0,1.0,False,1,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,1
3,1,2.0,3.0,True,1,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,1
4,3,2.0,1.0,False,0,1,0,0,0,0,...,0,0,0,0,0,0,0,0,0,1

In [139]:
from sklearn.preprocessing import StandardScaler
scale = StandardScaler()
df_ = scale.fit_transform(df)

In [140]:
titanic_train = df_[:len(y)]

In [141]:
titanic_test = df_[len(y):]

In [142]:
X = titanic_train
y = y.values

In [143]:
from sklearn.model_selection import train_test_split
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.2, random_state = 0)

In [144]:
y_train

array([0, 0, 0, 0, 0, 0, 0, 1, 0, 0, 1, 0, 0, 1, 1, 0, 0, 0, 1, 1, 0, 1,
       0, 0, 1, 1, 0, 0, 0, 1, 0, 0, 1, 0, 0, 0, 0, 0, 1, 0, 1, 0, 1, 1,
       0, 1, 0, 0, 1, 1, 0, 0, 1, 1, 0, 0, 0, 1, 1, 1, 0, 0, 1, 0, 0, 1,
       1, 0, 0, 0, 1, 0, 0, 0, 0, 0, 0, 1, 1, 1, 0, 0, 0, 0, 0, 0, 0, 1,
       0, 1, 1, 0, 0, 0, 1, 0, 0, 0, 1, 1, 0, 0, 1, 0, 1, 0, 0, 0, 0, 0,
       0, 1, 0, 1, 1, 1, 0, 0, 0, 1, 0, 1, 0, 0, 1, 1, 1, 0, 0, 1, 0, 1,
       0, 0, 0, 0, 1, 0, 1, 0, 1, 0, 1, 1, 1, 0, 0, 0, 0, 0, 0, 1, 0, 1,
       0, 0, 0, 1, 0, 1, 0, 0, 0, 1, 0, 1, 1, 1, 0, 0, 0, 1, 1, 0, 0, 1,
       0, 1, 0, 0, 0, 0, 1, 1, 1, 0, 1, 0, 1, 0, 1, 0, 0, 1, 0, 0, 0, 0,
       0, 1, 0, 1, 0, 1, 0, 0, 0, 0, 0, 1, 0, 0, 1, 0, 0, 0, 1, 0, 0, 1,
       0, 0, 1, 0, 1, 0, 0, 0, 0, 1, 0, 0, 0, 1, 0, 0, 0, 0, 0, 0, 0, 0,
       0, 1, 1, 0, 0, 0, 1, 0, 0, 0, 0, 1, 1, 0, 1, 0, 1, 0, 0, 0, 1, 1,
       0, 0, 0, 0, 0, 0, 1, 0, 0, 1, 1, 0, 0, 0, 1, 0, 1, 0, 0, 1, 0, 0,
       1, 1, 0, 0, 1, 1, 1, 0, 1, 0, 0, 1, 0, 0, 0, 0, 0, 1, 0, 0, 0, 1,
       0, 0, 1, 1, 0, 0, 0, 0, 0, 0, 1, 0, 0, 0, 0, 0, 1, 0, 0, 0, 1, 0,
       1, 0, 0, 1, 0, 1, 0, 1, 0, 0, 0, 1, 1, 1, 1, 0, 0, 0, 0, 0, 0, 0,
       1, 1, 1, 0, 0, 0, 1, 0, 1, 1, 1, 0, 0, 0, 0, 1, 1, 0, 0, 1, 0, 1,
       1, 0, 0, 0, 0, 1, 1, 0, 1, 0, 1, 0, 1, 0, 0, 0, 1, 0, 0, 0, 1, 0,
       0, 0, 0, 0, 1, 1, 0, 0, 0, 0, 1, 1, 0, 0, 0, 1, 0, 0, 0, 1, 1, 0,
       0, 1, 0, 0, 0, 0, 0, 0, 1, 1, 1, 1, 1, 1, 1, 1, 0, 0, 0, 1, 1, 0,
       0, 1, 1, 0, 0, 0, 0, 0, 0, 0, 1, 1, 1, 0, 0, 0, 0, 1, 1, 0, 0, 0,
       1, 0, 1, 0, 1, 0, 1, 1, 1, 1, 0, 0, 1, 0, 1, 0, 0, 1, 1, 1, 0, 0,
       0, 1, 0, 0, 1, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 1, 1,
       0, 0, 0, 1, 1, 0, 0, 1, 1, 1, 0, 0, 0, 1, 0, 0, 1, 0, 1, 0, 1, 0,
       0, 1, 0, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 1, 1, 0, 0, 1, 1, 1, 0, 1,
       1, 0, 0, 0, 0, 1, 0, 0, 1, 1, 0, 0, 0, 1, 1, 0, 1, 0, 1, 1, 1, 0,
       1, 1, 1, 0, 0, 0, 1, 0, 0, 0, 1, 0, 0, 1, 0, 0, 0, 1, 0, 0, 1, 1,
       1, 0, 1, 1, 0, 1, 0, 1, 1, 0, 0, 0, 0, 0, 0, 1, 1, 0, 0, 0, 0, 0,
       1, 0, 0, 0, 1, 1, 1, 0, 0, 1, 0, 0, 0, 0, 0, 1, 1, 1, 0, 1, 0, 0,
       1, 0, 0, 0, 0, 0, 0, 0, 0, 0, 1, 1, 1, 1, 1, 1, 1, 0, 1, 0, 1, 0,
       0, 1, 0, 0, 1, 0, 1, 0, 0, 0, 1, 1, 0, 0, 0, 1, 1, 0, 1, 1, 0, 1,
       0, 0, 1, 1, 1, 1, 0, 0, 0, 1, 0, 0, 0, 1, 1, 0, 1, 1, 1, 0, 0, 1,
       1, 1, 1, 1, 1, 0, 1, 0], dtype=int64)

In [145]:
from sklearn.linear_model import LogisticRegression
reg = LogisticRegression()
reg.fit(X_train,y_train)

LogisticRegression()

In [146]:
pred1 = reg.predict(X_test)

In [147]:
from sklearn.metrics import accuracy_score
accuracy_score(y_test,pred1)

0.8100558659217877

In [148]:
from sklearn.naive_bayes import GaussianNB
naive = GaussianNB()
naive.fit(X_train,y_train)

GaussianNB()

In [149]:
pred_naive = naive.predict(X_test)

In [150]:
from sklearn.metrics import accuracy_score
accuracy_score(y_test,pred_naive)

0.43575418994413406

In [151]:
from sklearn.svm import SVC
svc = SVC(kernel = "rbf")
svc.fit(X_train,y_train)

SVC()

In [152]:
pred_svc = svc.predict(X_test)

In [153]:
from sklearn.metrics import accuracy_score
accuracy_score(y_test,pred_svc)

0.7039106145251397

In [154]:
from sklearn.neighbors import KNeighborsClassifier
knn = KNeighborsClassifier()
knn.fit(X_train,y_train)

KNeighborsClassifier()

In [155]:
pred_knn = knn.predict(X_test)

In [156]:
from sklearn.metrics import accuracy_score
accuracy_score(y_test,pred_knn)

0.6368715083798883

In [157]:
from sklearn.tree import DecisionTreeClassifier
tree = DecisionTreeClassifier()
tree.fit(X_train,y_train)

DecisionTreeClassifier()

In [158]:
pred_tree = tree.predict(X_test)

In [159]:
from sklearn.metrics import accuracy_score
accuracy_score(y_test,pred_tree)

0.8268156424581006

In [160]:
from sklearn.ensemble import RandomForestClassifier
random_tree = RandomForestClassifier()
random_tree.fit(X_train,y_train)

RandomForestClassifier()

In [161]:
pred_random_tree = random_tree.predict(X_test)

In [162]:
from sklearn.metrics import accuracy_score
accuracy_score(y_test,pred_random_tree)

0.8379888268156425

In [163]:
from sklearn.ensemble import GradientBoostingClassifier,AdaBoostClassifier
grad = GradientBoostingClassifier()
ada = AdaBoostClassifier()
grad.fit(X_train,y_train)
ada.fit(X_train,y_train)

AdaBoostClassifier()

In [164]:
pred_grad = grad.predict(X_test)
pred_ada = ada.predict(X_test)

In [165]:
from sklearn.metrics import accuracy_score
accuracy_score(y_test,pred_grad)

0.8100558659217877

In [166]:
from sklearn.metrics import accuracy_score
accuracy_score(y_test,pred_ada)

0.8268156424581006

In [167]:
from sklearn.ensemble import RandomForestClassifier
grad = RandomForestClassifier()
grad.fit(X,y)

RandomForestClassifier()

In [168]:
#titanic_test.Fare = titanic_test.Fare.fillna(titanic_test['Fare'].median())

In [169]:
from sklearn.preprocessing import StandardScaler
scale = StandardScaler()
titanic_test_ = scale.fit_transform(titanic_test)

In [170]:
test_predicted = grad.predict(titanic_test)

In [171]:
output = pd.DataFrame({'Survived': test_predicted,
                     'PassengerId': titanic_test1.PassengerId})
output.to_csv('sumbmission.csv', index = False)
output
print('Your submission was successfully saved')

Your submission was successfully saved

In [216]:
test_predicted

array([0, 0, 0, 0, 1, 0, 1, 0, 1, 0, 0, 0, 1, 0, 1, 1, 0, 0, 0, 1, 0, 0,
       1, 0, 1, 0, 1, 0, 0, 0, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 0, 0, 1,
       1, 0, 0, 0, 1, 1, 0, 0, 1, 1, 0, 0, 0, 0, 0, 1, 0, 0, 0, 1, 1, 1,
       1, 0, 0, 1, 1, 0, 0, 0, 1, 0, 0, 1, 0, 1, 1, 0, 0, 0, 0, 0, 1, 0,
       1, 1, 0, 0, 1, 0, 0, 0, 1, 0, 0, 0, 1, 0, 0, 0, 1, 0, 0, 0, 0, 0,
       0, 1, 1, 1, 1, 0, 0, 1, 0, 1, 1, 0, 1, 0, 0, 1, 0, 1, 0, 0, 0, 0,
       0, 0, 0, 0, 0, 0, 0, 0, 0, 1, 0, 0, 0, 0, 0, 0, 0, 0, 1, 0, 0, 1,
       0, 0, 1, 0, 0, 1, 1, 1, 1, 0, 0, 1, 0, 0, 1, 0, 0, 0, 0, 0, 0, 1,
       1, 0, 1, 1, 0, 0, 1, 0, 1, 0, 1, 0, 0, 0, 0, 0, 0, 0, 1, 0, 1, 0,
       0, 0, 1, 1, 0, 1, 0, 0, 1, 0, 1, 0, 0, 0, 0, 1, 0, 0, 1, 0, 1, 0,
       1, 0, 1, 0, 1, 1, 0, 1, 0, 0, 0, 1, 0, 0, 1, 0, 1, 0, 1, 1, 1, 1,
       0, 0, 0, 0, 1, 0, 1, 0, 1, 0, 1, 0, 0, 0, 0, 0, 1, 0, 0, 0, 1, 1,
       0, 0, 0, 0, 0, 0, 0, 0, 1, 1, 0, 1, 0, 0, 0, 0, 0, 1, 1, 1, 1, 0,
       0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 1, 0, 0, 0, 0, 0, 0, 0, 1, 1, 1, 1,
       0, 0, 0, 0, 0, 0, 1, 1, 0, 0, 0, 0, 0, 0, 0, 0, 1, 0, 1, 0, 0, 0,
       1, 0, 0, 1, 0, 0, 0, 0, 0, 0, 0, 0, 0, 1, 0, 1, 0, 1, 0, 1, 1, 0,
       0, 0, 1, 0, 1, 0, 0, 1, 0, 1, 1, 0, 1, 0, 0, 0, 1, 0, 0, 1, 0, 0,
       1, 1, 0, 0, 0, 1, 0, 0, 1, 0, 0, 1, 0, 0, 0, 0, 0, 1, 0, 0, 0, 1,
       0, 1, 0, 0, 1, 0, 1, 0, 0, 0, 0, 0, 1, 1, 1, 1, 0, 0, 1, 0, 0, 0],
      dtype=int64)

In [217]:
from sklearn.ensemble import AdaBoostClassifier
grad = AdaBoostClassifier()
grad.fit(X,y)

AdaBoostClassifier()

In [218]:
test_predicted = grad.predict(titanic_test)

In [219]:
output = pd.DataFrame({'Survived': test_predicted,
                     'PassengerId': titanic_test1.PassengerId})
output.to_csv('submission.csv', index = False)
output
print('Your submission was successfully saved')

Your submission was successfully saved